body {
  font-family: Poppings, sans-serif;
}

.project-grid {
  display: grid;
  grid-gap: 16px;
  width: 100%;
  max-width: 90%;
  margin: auto;
  grid-template-areas:
    "eth eth alphabet"
    "eth eth travaler"
    "cube astro travaler"
    "cup insta insta"
    "cup insta insta"
    "foam foam dimensional"
    "foam foam dimensional";
}

#eth {
  grid-area: eth;
}

#alphabet {
  grid-area: alphabet;
}

#cube {
  grid-area: cube;
}

#astro {
  grid-area: astro;
}

#travaler {
  grid-area: travaler;
}

#cup {
  grid-area: cup;
}

#insta {
  grid-area: insta;
}

#foam {
  grid-area: foam;
}

#dimensional {
  grid-area: dimensional;
}

.project {
  position: relative;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .overlay {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .project-grid {
    grid-template-areas:
      "eth eth"
      "alphabet travaler"
      "cube astro"
      "insta insta"
      "cup foam"
      "dimensional dimensional";
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .project-grid {
    grid-template-areas:
      "eth eth"
      "alphabet alphabet"
      "travaler travaler"
      "cube astro"
      "insta insta"
      "cup cup"
      "foam foam"
      "dimensional dimensional";
    max-width: 100%;
  }
}
