.old {
  border: 2px solid black;
  color: orangered;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  transition: background-color 1s ease-in 2s;
}

.old:hover {
  background-color: olive;
}

/* transition: property duration timing function delay */

/* if worried about performance you should only animate the following properties */
/* order of brower operations: Javascript style layout paint composite */
/* animating widtt impacts style and forward */
/* Animating color impacts paint and onwards */
/* Animating opacity/transform only impacts composite --> best to animate  */

body {
  background: linear-gradient(125deg, #3899ee, #38e2ee);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: white;
  color: #401aff;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  padding: 2rem 7rem;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 1rem;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn:nth-of-type(1) {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.btn:nth-of-type(1):hover {
  transform: translateY(-5px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 13px rgba(0, 0, 0, 0.22);
}

.btn:nth-of-type(2) {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 13px rgba(0, 0, 0, 0.22);
}

.btn:nth-of-type(2):hover {
  transform: scale(0.95);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.22);
}
